<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmXj6Wqfqtb8sOtmrMTE6E27sbv1WG4G0</string>
	<key>GCM_SENDER_ID</key>
	<string>837189000686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramMad</string>
	<key>PROJECT_ID</key>
	<string>spotify-clone-34eda</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-clone-34eda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837189000686:ios:06c89e7e0dc0e49af982ff</string>
</dict>
</plist>